<div class="container">
  <div class="row"><br>
    <!-- <div class="center-align">
        <h6 class="center-align white-text">We must protect</h6>
      <img  style="max-width:200px" class="responsive-img" src="assets/bg.png">
      
    </div> -->


    <div class="col s12 m12 l8" style="background-color: #dedebe; border-radius:10px">
      <br><br>
      <app-terminal (textChangeDetec)="changeDetecText($event)"></app-terminal>
      <br><br> <br><br>
    </div>
    <div class="col s12 m12 l4" style="padding-top: 100px">
      <div class="card" style="z-index: 1000;background-color: black; border-top-left-radius: 20px;border-top-right-radius: 20px">
        <!-- <div class="card-image">
          <img src="assets/1.png">
        </div> -->
        <div class="card-content center">
          <p style="color:white">{{detecText}}</p>
        </div>
        <div class="card-tabs notess">
          <ul class="tabs" style="padding-top: 10px;overflow: hidden;">
            <li class="tab"><a class="active" href="#test4"><i class="material-icons black-text">class</i></a></li>
            <li class="tab"><a href="#test5"><i class="material-icons black-text">create</i> </a></li>
            <li class="tab"><a href="#test6"><i class="material-icons black-text">help_outline</i></a></li>
          </ul>
        </div>
        <div class="card-content grey notess lighten-4">
          <div id="test4">
            <p> Status report</p>
            <ul style="padding-left:10px">
              <li style="list-style: disc !important">
                Item 1
              </li>
              <li style="list-style: disc !important">
                Item 2
              </li>
              <li style="list-style: disc !important">
                Item 3
              </li>
              <li style="list-style: disc !important">
                Item 4
              </li>
            </ul>
          </div>
          <div id="test5">Fine place for notes</div>
          <div id="test6">Stuck? Here you can get a hint. We won't tell anyone<br><br><a class="waves-effect waves-light btn">Play
              intro</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
