<div class="container-fluid">
    <div class="row pop">
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                  <p>Welcome to the game</p>
                </div>
                <div class="card-tabs">
                  <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a class="active" href="#test4"><i class="material-icons">class</i></a></li>
                    <li class="tab"><a  href="#test5"><i class="material-icons">create</i></a></li>
                    <li class="tab"><a href="#test6"><i class="material-icons">help_outline</i></a></li>
                  </ul>
                </div>
                <div class="card-content grey lighten-4">
                  <div id="test4">Status</div>
                  <div id="test5">Notes</div>
                  <div id="test6">Hint</div>
                </div>
              </div>
                        
        </div>
        <div class="col s12 m12 l6">
            <app-terminal></app-terminal>
        </div>
    </div>
</div>