a {
    color: #fff;
}

.tmnal {
    top: 70px;
    left: 25px;
    color: #ededed;
    position: absolute;
    font-weight: 200;
    font-size: 2vw;
    animation: shiver 6s linear 4s infinite;
}

.wrap {
    margin: 30px auto;
    text-align: left !important;
}


.beforeToken {
    display: inline;
    color: #2afc15;
}

.blinking-cursor {
    display: inline;
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}



p:last-child:after {
    animation: blink 1s infinite;
    content: "_";
}














.terminal {
  width: 90%;
  overflow-y: scroll;
 
  font-size: 14px;
  font-family:monospace;
}
.terminal::-webkit-scrollbar {
    width: 8px;
}
.terminal::-webkit-scrollbar-track {
  border-radius: 10px;
}
.terminal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00fe00;
  
}

.currentLine {
    padding:20px;
  line-height: 1.2;
}

.prompt {
  color: #00fe00;
  font-family: monospace;
  line-height: 1.1;
  margin-right: 5px
}

.inputContainer {
  flex: 1
}

.input {
  border: none;
  padding: 0;
  margin: 0;
  background: #222;
  color: #fff;
  width: 99%;
  font-family: monospace;
  font-size: 12px;
  margin-left: 2px;
}
.input:focus {
  outline: 0;
}

.output {
  color: #00fe00;
  font-family: monospace;
  margin: 0;
  line-height: 1.2;
  word-break: break-all;
  white-space: pre-wrap;
}

.outputContainer {
 margin:20px;
}






/* This is the monitor css */
@keyframes screen-turn-on {
    0% {
        width: 0%;
        height: 1px;
        
        background-color: #000;
    }
    50% {
        width: 100%;
        height: 1px;
        
        background-color: #000;
    }
    51% {
        width: 100%;
        height: 1px;
       
        background-color: #000;
    }
    70% {
        width: 100%;
        height: 1px;
        
        background-color: #000;
    }
    80% {
        width: 100%;
        height: 450px;
        
        background-color: #000;
    }
    100% {
        width: 100%;
        height: 450px;
        
        background-color: #000;
    }
}
@keyframes shiver {
 
}
.screencont, #screen {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.screencont {
    position: relative;
    margin: 0;
    border-radius:30px;
    font-family: "Source Code Pro", monospace;
    /* overflow: hidden; */
}
#screen:after {
 
}
#screen {
    color: #fff;
    text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.on #screen {
    background-color: rgb(78, 78, 78);
}
#content-holder {
    padding: 0;
    display: flex;
    max-height: 40px;
    /* justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; */
    /* overflow: hidden; */
}
#content {
    
    display: flex;
    /* justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; */
    max-height: 450px;
    position: relative;
}
.on #content {
    animation: screen-turn-on .4s linear .5s 1 forwards;
}
#power {
    top: 12px;
    width: 35px;
    height: 10px;
    position: absolute;
    right: 45px;
    background-color: #282828;
    cursor: pointer;
}
.on #power {
    background-color: #0035ff;
    box-shadow: 0px 0px 20px 2px #0035ff;
}
#channel {
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 2vw;
    font-family: "VT323", monospace;
    vertical-align: middle;
    color: #fbff68;
    animation: shiver 4s linear .5s infinite;
}
#text {
    
}




@media (max-width: 1000px) { 
    #content-holder {
        height: 450px;
       
    }

    #screen {
        height: 500px;
       
    }
 }

@media (min-width: 1001px) { 
    #content-holder {
        height: 500px;
      
    }

    #screen {
        height: 500px;
        
    }
 }
