a {
    color: #fff;
}

.tmnal {
    top: 70px;
    left: 25px;
    color: #ededed;
    position: absolute;
    font-weight: 200;
    font-size: 2vw;
    animation: shiver 6s linear 4s infinite;
}

.wrap {
    margin: 30px auto;
    text-align: left !important;
}


.beforeToken {
    display: inline;
    color: white;
}

.blinking-cursor {
    display: inline;
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}



p:last-child:after {
    animation: blink 1s infinite;
    content: "_";
}














.terminal {
  width: 90%;
  overflow-y: scroll;
  max-height: calc(80vh - 60px);
  font-size: 14px;
  font-family:monospace;
}
.terminal::-webkit-scrollbar {
    width: 8px;
}
.terminal::-webkit-scrollbar-track {
  border-radius: 10px;
}
.terminal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00fe00;
  
}

.currentLine {
    padding:20px;
  line-height: 1.2;
}

.prompt {
  color: #00fe00;
  font-family: monospace;
  line-height: 1.1;
  margin-right: 5px
}

.inputContainer {
  flex: 1
}

.input {
  border: none;
  padding: 0;
  margin: 0;
  background: #222;
  color: #00fe00;
  width: 99%;
  font-family: monospace;
  font-size: 12px;
  margin-left: 2px;
}
.input:focus {
  outline: 0;
}

.output {
  color: #00fe00;
  font-family: monospace;
  margin: 0;
  line-height: 1.2;
  word-break: break-all;
  white-space: pre-wrap;
}

.outputContainer {
 margin:20px;
}






/* This is the monitor css */
@keyframes screen-turn-on {
    0% {
        width: 0%;
        height: 1px;
        border-radius: 0px;
        background-color: #b0b0b0;
    }
    50% {
        width: 100%;
        height: 1px;
        border-radius: 0px;
        background-color: #b0b0b0;
    }
    51% {
        width: 100%;
        height: 1px;
        border-radius: 0px;
        background-color: #b0b0b0;
    }
    70% {
        width: 100%;
        height: 1px;
        border-radius: 0px;
        background-color: #b0b0b0;
    }
    80% {
        width: 100%;
        height: calc(100vh - 60px);
        border-radius: 5px;
        background-color: #b0b0b0;
    }
    100% {
        width: 100%;
        height: calc(100vh - 60px);
        border-radius: 5px;
        background-color: #454545;
    }
}
@keyframes shiver {
    0%   {  transform: translate(1px, 1px); text-shadow: 6px 0 rgba(255,0,0,0.9), -6px 0 rgba(0,0,255,0.9);  }
    5%   {  transform: translate(1px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    10%  {  transform: translate(1px, 1px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
    15%  {  transform: translate(1px, 1px); text-shadow: 7px 0 rgba(255,0,0,0.9), -7px 0 rgba(0,0,255,0.9);  }
    20%  {  transform: translate(1px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    25%  {  transform: translate(1px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    30%  {  transform: translate(1px, 2px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    35%  {  transform: translate(1px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    40%  {  transform: translate(2px, 1px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    45%  {  transform: translate(2px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    50%  {  transform: translate(2px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    55%  {  transform: translate(2px, 1px); text-shadow: 4px 0 rgba(255,0,0,0.9), -4px 0 rgba(0,0,255,0.9);  }
    60%  {  transform: translate(1px, 1px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    65%  {  transform: translate(1px, 1px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
    70%  {  transform: translate(1px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    75%  {  transform: translate(1px, 1px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    80%  {  transform: translate(2px, 1px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
    85%  {  transform: translate(2px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
    90%  {  transform: translate(2px, 2px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
    95%  {  transform: translate(2px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
    100% {  transform: translate(1px, 2px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
}
.screencont, #screen {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.screencont {
    position: relative;
    margin: 0;
    background-color: #000;
    font-family: "Source Code Pro", monospace;
    /* overflow: hidden; */
}
#screen:after {
 
}
#screen {
    
    padding: 10px;
    background: #0a0a0a;
    color: #fff;
    text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);
    border-radius: 5px;
}
.on #screen {
    background-color: #222;
}
#content-holder {
    padding: 0;
    display: flex;
    max-height: 40px;
    /* justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; */
    /* overflow: hidden; */
}
#content {
    background-color: #b0b0b0;
    display: flex;
    /* justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center; */
    max- height: calc(100vh - 60px);
    position: relative;
}
.on #content {
    animation: screen-turn-on .4s linear .5s 1 forwards;
}
#power {
    top: 12px;
    width: 35px;
    height: 5px;
    position: absolute;
    right: 45px;
    background-color: #282828;
    cursor: pointer;
}
.on #power {
    background-color: #0035ff;
    box-shadow: 0px 0px 20px 2px #0035ff;
}
#channel {
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 2vw;
    font-family: "VT323", monospace;
    vertical-align: middle;
    color: #fbff68;
    animation: shiver 4s linear .5s infinite;
}
#text {
    
}




@media (max-width: 1000px) { 
    #content-holder {
        height: calc(100vh - 60px);
        width: calc(100vw - 60px);
    }

    #screen {
        height: calc(100vh - 60px);
        width: calc(100vw - 60px);
    }
 }

@media (min-width: 1001px) { 
    #content-holder {
        height: calc(100vh - 60px);
        width: calc(50vw - 60px);
    }

    #screen {
        height: calc(100vh - 60px);
        width: calc(50vw - 60px);
    }
 }
