a {
    color: #fff;
}

.tmnal {
    color: #fff;
}

.wrap {
    margin: 30px auto;
    text-align: left !important;
}

.

.beforeToken {
    display: inline;
    color: white;
}

.blinking-cursor {
    display: inline;
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from,
    to {
        color: transparent;
    }
    50% {
        color: white;
    }
}



p:last-child:after {
    animation: blink 1s infinite;
    content: "_";
}












.root {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #b9ab84;
  border-radius: 24px 24px 0 0;
}


.screenContainer {
  flex: 0 0 63%;
  border-radius: 20px 20px 0 0;
  background: #cfc19a;
  padding: 25px;
}

.screenFrame {
  height: 100%;
  background-color: #b9ab84;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px;
}

.screen {
  background-color: #222;
  height: 100%;
  width: 90%;
  margin: 18px 0;
  border-radius: 235px / 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyDecor {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #cfc19a;
  border-radius: 0 0 24px 24px;
  padding: 10px 30px;
}




.terminal {
  height: 380px;
  flex: 0 0 95%;
  overflow-y: auto;
  font-size: 14px;
  font-family:monospace;
}
.terminal::-webkit-scrollbar {
    width: 8px;
}
.terminal::-webkit-scrollbar-track {
  border-radius: 10px;
}
.terminal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00fe00;
  
}

.currentLine {
    padding:30px;
  line-height: 1.2;
  display: flex;
}

.prompt {
  color: #00fe00;
  font-family: monospace;
  line-height: 1.1;
  margin-right: 5px
}

.inputContainer {
  flex: 1
}

.input {
  border: none;
  padding: 0;
  margin: 0;
  background: #222;
  color: #00fe00;
  width: 99%;
  font-family: monospace;
  font-size: 12px;
  margin-left: 2px;
}
.input:focus {
  outline: 0;
}

.output {
  color: #00fe00;
  font-family: monospace;
  margin: 0;
  line-height: 1.2;
  word-break: break-all;
  white-space: pre-wrap;
}

.outputContainer {
 margin:20px;
}
